server:
  port: 8080
  servlet:
    context-path: /

spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/projecttest3
    username: root
    password: 1234

  # [중요 1] data.sql 실행 관련 설정
  sql:
    init:
      mode: always            # 서버 켤 때마다 항상 실행
      encoding: UTF-8         # 한글 깨짐 방지

  # [중요 2] JPA 설정
  jpa:
    hibernate:
      ddl-auto: create        # 테이블 스키마 자동 업데이트
    # [핵심] 테이블이 다 만들어진 '뒤에' 데이터를 넣도록 지연시킴
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect

  # 파일 업로드 설정
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB